<footer class="footer">
    <div class="footer__top">
        <div class="wrapper">
            <div class="footer__left">
                <a class="logo logo--footer" href="#">Техномарт</a>
                <p class="footer__address">г. Москва, ул. Строителей, 15
                    <br>+7 (495) 555-05-55 </p>
            </div>
            <ul class="footer__menu">
                <li>
                    <a href="">Компания</a>
                </li>
                <li>
                    <a href="">Новости</a>
                </li>
                <li>
                    <a href="">Каталог</a>
                </li>
                <li>
                    <a href="">Доставка</a>
                </li>
                <li>
                    <a href="">Контакты</a>
                </li>
            </ul>
            <ul class="footer__menu">
                <li>
                    <a href="">Материалы</a>
                </li>
                <li>
                    <a href="">Техника</a>
                </li>
                <li>
                    <a href="">Инструмент</a>
                </li>
                <li>
                    <a href="">Спецпредложения</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="wrapper">
            <div class="footer__copyright">
                <p>© 2010-2015 Компания «Техномарт» Все права защищены</p>
            </div>

            <div class="footer__connect">
                <h3>Дизайн сайта —</h3>
                <a href="">www.Glukhanko.ru</a>
            </div>
            <div class="footer__connect  footer__connect--margin">
                <h3>Обратная связь:</h3>
                <a href="">info@technomart.ru</a>
            </div>

            <div class="footer__social">
                <div class="footer__social-item">
                    <a href="">B</a>
                </div>
                <div class="footer__social-item">
                    <a href="">
                        <svg class="">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer__social-item">
                    <a href="">
                        <svg class="">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>