<div class="popup">
    <form action="">
        <div class="popup__item" method="post">
            <label for="name">Ваше Имя:</label>
            <input id="name" type="text" placeholder="Представьтесь пожалуйста">
        </div>
        <div class="popup__item">
            <label for="email">Ваш email: </label>
            <input id="email" type="email" placeholder="Для отправки ответа">

        </div>
        <div class="popup__item">
            <label for="textarea">Текст письма</label>
            <textarea name="" id="textarea"></textarea>
        </div>
        <input type="submit" value="Отправить" id="submit">
        <button type="button" id="cancel">Отмена</button>
    </form>
</div>