.decription {
    background: #f2f6f8;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
    h2 {
        font-size: 30px;
        text-transform: uppercase;
    }
    p {
        margin-bottom: 0;
        font-size: 13px;
        font-weight: 300;
        font-family: "Open Sans";
    }
}