.features {
    color: #fff;
    margin-top: 70px;
    min-height: 1px;
    @extend %clearfix;
    &__item {
        margin: auto;
        position: relative;
        width: 300px;
        height: 123px;
        padding: 20px;
        margin-bottom: 20px;
        &:after {
            content: '';
            position: absolute;
            top: 30px;
            right: 40px;
        }
        &:before {
            content: '';
            position: absolute;
        }
        p {
            font-size: 24px;
            margin: 0;
            margin-bottom: inherit;
        }
        a {
            display: block;
            width: 135px;
            text-align: center;
            padding: 10px;
            background: rgba(000, 000, 000, 0.1);
            text-transform: uppercase;
            color: #fff;
            font-size: 14px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                background: rgba(000, 000, 000, 0.33);
            }
        }
        &--materials {
            background: #f6b22d;
            &:after {
                @include sprite($features-1);
            }
        }
        &--tools {
            background-color: #4aafde;
            &:after {
                @include sprite($features-2);
            }
        }
        &--technics {
            background-color: #cc79d1;
            &:after {
                @include sprite($features-3);
            }
        }
        &--discount {
            background-color: #85d179;
            &:after {
                @include sprite($features-4);
            }
        }
        &--delivery {
            background: #f6b22d;
            &:after {
                @include sprite($features-5);
            }
        }
    }
    @media (min-width: $width-lg) {
        &__item {
            float: left;
            &--materials {
                margin-right: 20px;
            }
            &--tools {
                margin-right: 20px;
            }
            &--discount {
                float: right;
            }
            &--delivery {
                float: right;
            }
        }
    }
}