    .header {
        min-height: 320px;
        background: #f2f6f8;
        &__top {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            min-height: 42px;
            &-bg {
                background: #293449;
            }
        }
        &__search {
            max-width: 205px;
            height: 42px;
            display: flex;
            flex-direction: row;
            &:hover {
                background-color: #212a3a;
            }
            button {
                width: 42px;
                height: 42px;
                background: transparent;
                border: none;
                svg {
                    width: 16px;
                    height: 16px;
                    opacity: 0.2;
                    fill: #fff;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            input {
                background: transparent;
                border: none;
                width: 140px;
                height: 42px;
                outline: none;
                &:focus {
                    background: #fff;
                }
            }
        }
        &__bookmark,
        &__basket,
        &__order {
            line-height: 42px;
            text-align: center;
            a {
                color: #fff;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &__bookmark,
        &__basket {
            width: 140px;
            &:hover {
                background-color: #212a3a;
                svg {
                    opacity: 1;
                }
            }
        }
        &__bookmark {
            svg {
                width: 12px;
                height: 14px;
                margin-right: 10px;
                opacity: 0.2;
                fill: #fff;
            }
        }
        &__basket {
            svg {
                width: 16px;
                height: 13px;
                margin-right: 10px;
                opacity: 0.2;
                fill: #fff;
            }
        }
        &__order {
            width: 150px;
            background: #63a63e;
            &:hover {
                background-color: #6fc441;
            }
        }
        &__bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 50px;
            color: $color-blue;
            div {
                width: 240px;
            }
        }
        &__decription {
            padding-left: 50px;
            color: $color-red;
            font-size: 16px;
            font-style: italic;
        }
        &__phone {
            color: $color-red;
            font-size: 21px;
            svg {
                width: 15px;
                height: 16px;
                opacity: 0.3;
                fill: #32425c;
            }
        }
        &__user {
            width: 300px;
        }
        &__login {
            font-size: 21px;
            color: #000;
            p:hover svg:last-of-type {
                cursor: pointer;
                fill: #32425c;
                opacity: 1;
            }
            svg {
                width: 16px;
                height: 16px;
                margin-right: 10px;
                opacity: 0.3;
                fill: #32425c;
            }
            a {
                color: $color-blue;
                font-size: 16px;
                &:first-of-type {
                    margin-right: 35px;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 4px;
                        height: 4px;
                        top: 50%;
                        right: -20px;
                        border-radius: 100%;
                        background: $color-blue;
                    }
                }
            }
        }
        &__guest {
            display: none;
            padding-top: 20px;
            svg {
                width: 16px;
                height: 16px;
                margin-right: 10px;
                opacity: 0.3;
                fill: #32425c;
            }
            a {
                font-size: 21px;
                color: #000;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                &:first-of-type {
                    margin-right: 50px;
                }
            }
        }
        &__menu {
            margin-top: 20px;
            min-height: 60px;
            background-image: linear-gradient(to top, #32425c 0%, #32425c 99%, #32425c 100%);
            box-shadow: inset 0 -5px 0 #293449;
            ul {
                @extend %no-list;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                li {
                    padding-left: 30px;
                    padding-right: 30px;
                    transition: background 0.2s linear;
                    &:hover {
                        background: #293449;
                    }
                   
                    a {
                        line-height: 60px;
                        color: #fff;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }