html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $font;
    font-size: 17px;
    font-weight: 400;
}

.wrapper {
    max-width: 940px;
    min-height: 1px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: $width-lg) {
        padding: 0;
    }
}