.filters {
    width: 220px;
    float: left;
    font-family: "Open Sans";
    text-transform: uppercase;
    &__title {
        padding: 10px;
        padding-left: 20px;
        font-size: 12px;
        background: $color-sepia;
    }
    &__name {
        position: relative;
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
        svg {
            position: absolute;
            width: 17px;
            height: 17px;
            right: 20px;
            transform: rotate(180deg);
            fill: #c1c6ce;
        }
    }
    &__range {
        &-controls {
            position: relative;
            height: 80px;
            margin-bottom: 15px;
            padding: 0 30px;
            background: $color-sepia;
            border-radius: 5px;
            overflow: hidden;
        }
        &-scale {
            margin-top: 39px;
            height: 2px;
            background: #d7dcde;
        }
        &-bar {
            height: 2px;
            background: #00ca74;
        }
        &-toggle {
            position: absolute;
            top: 30px;
            left: 30px;
            width: 4px;
            height: 4px;
            border: 8px solid white;
            background: #ababab;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0 2px 1px 0 #cfcfcf;
            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: #ababab;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                border-radius: 100%;
            }
            &--max {
                left: 130px;
            }
            &--min {
                left: 20px;
            }
        }
        &-price {
            white-space: nowrap;
            input {
                width: 95px;
                padding: 8px 10px;
                margin-left: 10px;
                border: none;
                background: $color-sepia;
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-style: normal;
                text-align: center;
                color: #283136;
                border-radius: 5px;
            }
            &-priceMin {
                margin-right: 14px;
            }
        }
    }
    &__block {
        margin-bottom: 20px;
        input {
            display: none;
            &:checked ~ label svg {
                display: block;
            }
            &:checked ~ label:before {
                display: block;
            }
        }
        label {
            margin-left: 30px;
            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                width: 20px;
                height: 20px;
                background-color: #d7dcde;
                border-radius: 5px;
            }
            svg {
                display: none;
                position: absolute;
                width: 15px;
                height: 15px;
                fill: #fff;
                z-index: 3;
                top: 2px;
                left: -27px;
            }
        }
        &--radio {
            label {
                &:after {
                    background-color: #fff;
                    border: 4px solid #d7dcde;
                    border-radius: 100%;
                }
                &:before {
                    content: "";
                    display: none;
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    background-color: #d7dcde;
                    top: 8px;
                    left: -22px;
                    z-index: 6;
                }
            }
        }
    }
    @media (max-width:500px) {
        float: none;
        margin: auto;
        }
}