.item {
    &--flag {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            @include sprite($features-flag);
            z-index: 5;
        }
    }
}