.slider {
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    max-width: 620px;
    overflow: hidden;
    height: 266px;
    padding: 0;
    input {
        display: none;
    }
    &__controls {
        position: absolute;
        z-index: 2;
        bottom: 20px;
        left: 50%;
        &-btn {
            display: inline-block;
            vertical-align: top;
            width: 10px;
            height: 10px;
            margin-right: 10px;
            background: #fff;
            border-radius: 100%;
            cursor: pointer;
            &:after {
                display: none;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 100%;
                margin-top: 2px;
                margin-left: 2px;
                background: $color-red;
            }
        }
    }
    &__title {
        position: relative;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
        z-index: 2;
    }
    &__image {
        position: absolute;
        width: 620px;
        height: 266px;
        padding: 20px;
        padding-top: 0;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 105px;
            left: 0;
            top: 0;
            opacity: 0.25;
            background: #000;
        }
        p {
            position: relative;
            font-size: 18px;
            z-index: 2;
        }
        
        &--1 {
            background: url(../img/slider-1.jpg) no-repeat;
            background-size: contain;
        }
        &--2 {
            background: url(../img/slider-2.jpg) no-repeat;
            background-size: contain;
        }
    }
    @media (min-width: $width-lg) {
        float: left;
    }
}

#btn-1:checked ~ .slider__controls label.slider__controls-btn--1:after {
    display: block;
}

#btn-1:checked ~ .slider__image--1 {
    display: block;
}

#btn-1:checked ~ .slider__image--2 {
    display: none;
}

#btn-2:checked ~ .slider__controls label.slider__controls-btn--2:after {
    display: block;
}

#btn-2:checked ~ .slider__image--1 {
    display: none;
}

#btn-2:checked ~ .slider__image--2 {
    display: block;
}